<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ClubCare App"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Club Care</name>

    <description>
        Club Care App 
    </description>

    <author href="" email="">
        Bobby the cat 
    </author>

    <gap:plugin name="cordova-plugin-camera" version="1.2.0"/>
    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>    


</widget>
