<header>
		            <ul id="menu">
		                <li id="home-tab-button" class="tab-button" >Home</li>
		            </ul>
</header>

<div class="mainContent">
<img src="img/mainLogo.jpg">
</div>

<style type="text/css"><!--
a {
  color:inherit;
  text-decoration: none;
 }
.homelogo {
	top: -8px;
	right: 25px;
    width: 33vw;

	position: relative;
}
--></style>
<div align="right"><img class="homelogo" src="https://storage.googleapis.com/gs.appbuild.io/apps/vantage1/images/org/cccclubcarelogo3.png" /></div>
<center><img width="1" height="20" src="https://storage.googleapis.com/gs.appbuild.io/apps/vantage1/images/org/1x1.png" />
<table style="width: 95%;" cellspacing="10">
<tbody>
<tr>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"></span><span style="color: #ffffff;">&nbsp;&nbsp;&nbsp;<i class="fa fa-user fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;">My Policy</span></span></td>
<td style="height: 45px; width: 4%;">&nbsp;</td>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"><a href="http://www.clubcareinsurance.com/find-a-caravan-repairer">&nbsp;&nbsp;&nbsp;<i class="fa fa-wrench fa-lg"></i>&nbsp; &nbsp;</a><span style="font-size: large;"></span><a style="text-decoration: none;" href="javascript:changetotab(355842);">Repairs</a><a href="javascript:changetotab(355842);"></a></span></td>
</tr>
<tr>
<td colspan="3">&nbsp; &nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;">&nbsp;&nbsp;&nbsp;<i class="fa fa-warning fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;">Claim</span></span></td>
<td style="height: 45px; width: 4%;">&nbsp;</td>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"><a style="text-decoration: none;" href="javascript:changetotab(337716);">&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;"></span>Buy</a><a style="text-decoration: none;" href="javascript:changetotab(337716);"></a><span style="font-size: large;"><a style="text-decoration: none;" href="javascript:changetotab(337716);"></a></span></span></td>
</tr>
<tr>
<td colspan="3"></td>
</tr>
<tr>
<td colspan="3">&nbsp; &nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"><a style="text-decoration: none;" href="javascript:changetotab(355846);">&nbsp;&nbsp;&nbsp;<i class="fa fa-support fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;"></span></a><a style="text-decoration: none;" href="javascript:changetotab(355846);">Thefts</a><a style="text-decoration: none;" href="javascript:changetotab(355846);"></a><span style="font-size: large;"><a style="text-decoration: none;" href="javascript:changetotab(355846);"></a></span></span></td>
<td width="4%" style="height: 45px;">&nbsp;</td>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;">&nbsp;&nbsp;&nbsp;<i class="fa fa-barcode fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;" size="4">Scan Vin</span></span></td>
</tr>
</tbody>
</table>



