         <style type="text/css"><!--
		 a {
		   color:inherit;
		   text-decoration: none;
		  }
		 .homelogo_test {
		 top: -25px;
		 left: 25px;
		 width: 32vw;
		 position: relative;
		 }
		 --></style>

<div class="homeContent">
<p><img class="homelogo_test" src="img/mainLogo.jpg" /></p>
<center>
<table style="width: 95%;" cellspacing="10">
<tbody>
<tr>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"></span><span style="color: #ffffff;">&nbsp;&nbsp;&nbsp;<i class="fa fa-user fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;"></span><a href="#/policy" style="text-decoration: none;">My Policy</a></span></span></td>
<td style="height: 45px; width: 4%;">&nbsp;</td>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;">&nbsp;&nbsp;&nbsp;<i class="fa fa-warning fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;"></span><a href="javascript:changetotab(371975);" style="text-decoration: none;">Claim</a></span></span></td>
</tr>
<tr>
<td colspan="3">&nbsp; &nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"><a href="http://www.clubcareinsurance.com/find-a-caravan-repairer">&nbsp;&nbsp;&nbsp;<i class="fa fa-wrench fa-lg"></i>&nbsp; &nbsp;</a><span style="font-size: large;"></span><a style="text-decoration: none;" href="javascript:changetotab(355842);">Repairs</a></span></td>
<td style="height: 45px; width: 4%;">&nbsp;</td>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"><a style="text-decoration: none;" href="javascript:changetotab(355846);">&nbsp;&nbsp;&nbsp;<i class="fa fa-lock fa-lg"></i>&nbsp; &nbsp;<span style="font-size: large;"></span></a><a style="text-decoration: none;" href="javascript:changetotab(355846);">Thefts</a><a style="text-decoration: none;" href="javascript:changetotab(355846);"></a><span style="font-size: large;"><a style="text-decoration: none;" href="javascript:changetotab(355846);"></a></span></span></td>
</tr>
<tr>
<td colspan="3"></td>
</tr>
<tr>
<td colspan="3">&nbsp; &nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;"><a style="text-decoration: none;" href="javascript:changetotab(355846);">&nbsp;&nbsp;&nbsp;<i class="fa fa-question fa-lg"></i>&nbsp; &nbsp;</a>Hints<a style="text-decoration: none;" href="javascript:changetotab(355846);"></a><span style="font-size: large;"><a style="text-decoration: none;" href="javascript:changetotab(355846);"></a></span></span></td>
<td width="4%" style="height: 45px;">&nbsp;</td>
<td style="height: 45px; width: 48%; border-radius: 15px; background-color: rgba(0,128,128, 0.9);"><span style="color: #ffffff;">&nbsp;&nbsp;&nbsp;<i class="fa fa-share-alt fa-lg"></i>&nbsp; <a href="javascript:changetotab(370394);" style="text-decoration: none;">&nbsp;<span style="font-size: large;" size="4"></span></a><a href="javascript:changetotab(356007);" style="text-decoration: none;">S</a>hare<span style="font-size: large;" size="4"><a href="javascript:changetotab(356007);" style="text-decoration: none;"></a></span></span></td>
</tr>
</tbody>
</table>
</center>
</div>

