<header>
		            <ul id="menu">
		                <li id="home-tab-button" class="tab-button" >Register Policy</li>
		            </ul>
</header>
<script>


function load_data() {
  var input = document.getElementById("PolicyID");
  input.value = localStorage.getItem("PolicyID");
}

load_data();


</script>
<div class="mainContent">




<form id="contact-form" action="/" method="post">
  <div>
    <label>
      <span>Name: (required)</span>
      <input placeholder="Please enter your name" type="text" tabindex="1" required autofocus>
    </label>
  </div>
  <div>
    <label>
      <span>Email: (required)</span>
      <input placeholder="Please enter your email address" type="email" tabindex="2" required>
    </label>
  </div>
  <div>
    <label>
      <span>Telephone: (required)</span>
      <input placeholder="Please enter your number" type="tel" tabindex="3" required>
    </label>
  </div>
  <div>
    <label>
      <span>Website: (required)</span>
      <input placeholder="Begin with http://" type="url" tabindex="4" required>
    </label>
  </div>
  <div>
    <label>
      <span>Message: (required)</span>
      <textarea placeholder="Include all the details you can" tabindex="5" required></textarea>
    </label>
  </div>
  <div>
    <button name="submit" type="submit" id="contact-submit">Send Email</button>
  </div>
</form>





</div>