<div class="homeContent3">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:30px;"><br><span style="font-size:22px;  font-weight: 700;">Hints & Tips</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Caravan Tips - Autumn</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<div id="Autumn" style="background:  transparent url('img/autumn.jpg') no-repeat center center; min-height:62px; padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/autumn" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">AUTUMN</a></div>
<div style="clear: both;"><br></div>
<p><b>Hints and tips to prepare your caravan for winter </b></p>


<ul>
<li>Check your caravan handbook for any specific advice it may offer on winter preparation. Also, it's always worth checking with the supplier of any additional equipment you may have had fitted for advice on over-wintering.</li>
<li>Even if you're leaving your caravan in storage away from home, return every now and then for a check that all's well. It's also the chance to open windows and rooflights to allow some fresh air to circulate. Likewise, an occasional blast of warm air from the heating system can also work wonders, but don't forget if using butane gas for heating it won't work as the temperature approaches zero.</li>
</ul>
<p>Caravan thieves operate all year. Most of these thefts occur from the home or less secure storage sites but caravans have been known to be stolen from motorway services and even touring pitches.</p>
<p>Research your security options and choose devices accredited by testing houses such as Sold Secure http://www.soldsecure.com/ as this will help you decide the best product for you and you may benefit from an insurance discount too.</p>
<ul>
<li>Invest in the best security devices you can afford to avoid the distress and heartache of having your caravan stolen.</li>
</ul>
<a class="btn-sm btn-primary btn-sm" href="#/hints" style="float:right; color:#fff;" value="Save" id="Save" data-theme="a">BACK</a>
</div>
<div style="clear: both; min-height:150px;"></div>
</div>
