
<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png"/>

<div class="pageTitle" style="margin-top:8px;"><img src="img/defaqto.png" /></div>
<div style="clear: both;"></div>
<div class="pageBanner">Insurance Claim</div>
<div style="clear: both;"></div>
<div class="pageBlock" style="font-size:14px;">
<p style="font-size:12px; margin-top:2px;">Use the buttons to complete as many details as possible, these will then automatically be sent through to our claims team who will then be able to advise you on the correct claims procedures to follow and what further information or supporting documentation will assist us in handling your claim.</p>
<center>
<a class="btn btn-warning" href="#/reportclaim" style="margin-right:4px;">Report CLAIM</a><a class="btn btn-warning" href="#/reporttheft">Report THEFT</a>
</center>


</div>
</div>



