
<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />

<div class="pageTitle" style="margin-top:30px;"><br><span style="font-size:22px; font-weight: 700;">Claims</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Touring Caravan Insurance Claim</div>
<div style="clear: both;"></div>
<div class="pageBlock" style="font-size:14px;">
<p>Claims paid by the insurer will be subject to the conditions set out in your policy, including the following procedures:</p>
<ul style="font-size:10px;">
<li>You must report to us any loss, damage, incident or claim or any occurrence likely to give rise to a claim and of the institution of any proceedings being brought against you, as soon as reasonably possible.</li>
<li>A completed claim form must be returned within 30 days of discovery of the incident. If you experience difficulty in obtaining estimates these may be provided separately.</li>
<li>You must, in the event of theft or other malicious incident, give immediate notice of loss to the Police, and obtain a crime reference number.</li>
<li>You must send copies of every letter, writ or document to us immediately upon receipt.</li>
<li>You or any person claiming coverage must give all information and assistance to us and not negotiate, pay, settle, admit or repudiate any claim without the insurers written consent.</li>
<li>No property may be abandoned to the insurers.</li>
</ul>
<center>
<a class="btn btn-warning" href="#/">Report a CLAIM</a>&nbsp;&nbsp;<a class="btn btn-warning" href="#/">Report a THEFT</a>
</center>
<p style="font-size:12px; margin-top:2px;">Use the buttons to complete as many details as possible, these will then automatically be sent through to our claims team who will then be able to advise you on the correct claims procedures to follow and what further information or supporting documentation will assist us in handling your claim.</p>


</div>
</div>



