<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/claim.html');
</script>
<div class="homeContent">
<img class="homelogo_test" src="img/ClubCare_logo_colour.png" />
<div class="pageTitle" style="margin-top:22px;"><img src="img/defaqto.png" width="68px"/></div>
<div style="clear: both;"></div>
<div class="pageBanner">Insurance Claim</div>
<div style="clear: both;"></div>
<div class="pageBlock" style="font-size:14px;">
<p>Claims paid by the insurer will be subject to the conditions set out in your policy, including the following procedures:</p>
<ul style="font-size:10px; padding-left:15px;" >
<li style="padding-bottom:5px;">You must report to us any claim or potential claim as soon as possible.</li>
<li style="padding-bottom:5px;">A completed claim form must be returned within 30 days of discovery of the incident.</li>
<li style="padding-bottom:5px;">You must, in the event of theft or other malicious incident, give immediate notice of loss to the Police, and obtain a crime reference number.</li>
<li style="padding-bottom:5px;">You must send copies of every letter, writ or document to us immediately upon receipt.</li>

</ul>
<center>
<a class="btn btn-success" style="width:50%; color:#fff;" href="#/claim2">I Agree</b> </a>
</center>


</div>
<div style="clear: both; min-height:150px;"></div>
</div>






