<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:10px;"><i class="fa fa-phone" style="font-size:38px; "></i><br><span style="font-size:22px;  font-weight: lighter;">Contact</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Contact Club Care</div>
<div style="clear: both;"></div>
<div class="pageBlock">
<p style="font-size:12pt;"><span style="color:#69b500; font-size:14pt; font-weight:700;">Call:</span> <span style="font-weight:700; font-size:18pt;"><a href="tel:0800 124 4633">0800 124 4633</span></p>
<P>Mon - Fri: 9am - 5.30pm / Sat: 9am - 12pm</p>
<p style="font-size:12pt;"><span style="color:#69b500; font-size:14pt; font-weight:700;">Address:</span><br> <span style="font-weight:700; font-size:12pt;">Club Care Insurance</span>
<br>Juniper House, Warley Business Park, <br> Great Warley, Brentwood, <br>CM13 3BE</p>

<p style="font-size:12pt;"><span style="color:#69b500; font-size:14pt; font-weight:700;">Email:</span> <span style="font-weight:700; font-size:12pt;"><a href="mailto:enquiries@clubcareinsurance.com">enquiries@clubcareinsurance.com</a></span></p>





<p><i class="fa fa-twitter-square" style="font-size:38px; "></i><span style="font-weight:700; font-size:12pt;">&nbsp;&nbsp;<a href="https://twitter.com/friendlycover">@friendlycover</a></span></p>
</div>
</div>





