<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/contact.html');
</script>
<div class="homeContent3">
<img class="homelogo_test" src="img/ClubCare_logo_colour.png" />
<div class="pageTitle" style="margin-top:22px;"><img src="img/defaqto.png" width="68px"/></div>
<div style="clear: both;"></div>
<div class="pageBanner">Contact Club Care</div>
<div style="clear: both;"></div>
<div class="pageBlock">
<p style="font-size:12pt;"><span style="color:#69b500; font-size:10pt; font-weight:700;">Call:</span> <span style="font-weight:700; font-size:10pt;"><a href="tel:0800 975 1714">0800 975 1714</span></p>
<P>Mon - Fri: 9am - 5.30pm / Sat: 9am - 12pm</p>
<p style="font-size:10pt;"><span style="color:#69b500; font-size:10pt; font-weight:700;">Address:</span><br> <span style="font-weight:700; font-size:10pt;">Club Care Insurance</span>
<br>Juniper House, Warley Business Park, <br> Great Warley, Brentwood, <br>CM13 3BE</p>

<p style="font-size:12pt;"><span style="color:#69b500; font-size:10pt; font-weight:700;">Email:</span> <span style="font-weight:700; font-size:10pt;"><a href="mailto:enquiries@clubcareinsurance.com">enquiries@clubcareinsurance.com</a></span></p>





<p><i class="fa fa-twitter-square" style="font-size:38px; color:#00aced;"></i><span style="font-weight:700; font-size:12pt;">&nbsp;&nbsp;<a href="https://twitter.com/friendlycover">@friendlycover</a></span></p>
</div>
</div>





