<div class="homeContent3">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:30px;"><br><span style="font-size:22px;  font-weight: 700;">Hints & Tips</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Caravan Tips</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<div id="Winter" onclick="location.href='#/winter';" style="background:  transparent url('img/winter.jpg') no-repeat center center; min-height:62px; padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/winter" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">WINTER</a></div>
<div style="clear: both;"><br></div>
<div id="Spring" onclick="location.href='#/spring';" style="background:  transparent url('img/spring.jpg') no-repeat center center; min-height:62px;padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/spring" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">SPRING</a></div>
<div style="clear: both;"><br></div>
<div id="Summer" onclick="location.href='#/summer';" style="background:  transparent url('img/summer.jpg') no-repeat center center; min-height:62px;padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/summer" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">SUMMER</a></div>
<div style="clear: both;"><br></div>
<div id="Autumn" onclick="location.href='#/autumn';" style="background:  transparent url('img/autumn.jpg') no-repeat center center; min-height:62px;padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/autumn" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">AUTUMN</a></div>

</div>
</div>
