<div class="intro">


<br><img src="img/mainLogo.jpg" width="65%"/>
<div style="clear: both;"></div>

<p>
The Club Care Insurance App has been designed to help you when you need it most. This
includes everything you need as a Club Care Insurance client to inform us of an incident, as well
as useful contact information and details on the products and services we provide.<br><br>  It will make
sense to fill in your details and take photographs of your caravan, they will really help should you
need to contact us at a later date. <br><br> We will also use the app to keep you informed!
</p><br>

<a class="btn btn-success" href="#/">Continue</a>

</div>
