<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/intro.html');
</script>
<div class="intro">


<br><img src="img/mainLogo.jpg" width="45%"/>
<div style="clear: both;"></div>

<p style="font-size:14px;">
The Club Care Insurance App includes everything you need as a Club Care client if you have an incident, as well as useful contact information and details on our products. <br><br>We recommend you fill in your details and take photographs of your caravan, they will really help should you need to contact us at a later date. <br><br>We will also use the app to keep you informed!
</p><br>

<a class="btn btn-success" href="#/">Continue</a>

</div>
