<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/intro.html');


 function introSkip(){

 	window.location = '#/';

}
</script>
<div class="intro">


<br><img src="img/introLogo.png" width="35%"/>
<div style="clear: both;"></div>

<p style="font-size:14px;padding-top:10px;">
The Club Care Insurance App includes everything you need as a Club Care client if you have an incident, as well as useful contact information and details on our products. <br><br>We recommend you fill in your details and take photographs of your caravan, they will really help should you need to contact us at a later date. <br><br>We will also use the app to keep you informed!
</p><br>
<button class="btn btn-success" style="width:100%;" onclick="introSkip()"  id="Continue">Continue</button>

</div>
