<div class="homeContent4">
<img class="homelogo_test" src="img/ClubCare_logo_colour.png" />
<div class="pageTitle" style="margin-top:22px;"><img src="img/defaqto.png" width="68px"/></div>
<div style="clear: both;"></div>
<div class="pageBanner">More useful information</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<ul style=" line-height: 2.5em; height: auto;">
	<li><a href="#/morecontact" style="font-size:14px;  font-weight: lighter; ">Contact Details / Useful Numbers</a></li>
	<li><a href="http://www.twitter.com/friendlycover" style="font-size:14px;  font-weight: lighter;">Social Links</a></li>
	<li><a href="#/moreccwww" style="font-size:14px;  font-weight: lighter;">Club Care Website</a></li>
	<li><a href="mailto:marketing@clubcareinsurance.com?subject=Customer feedback on the App" style="font-size:14px;  font-weight: lighter;">My feedback</a></li>
	<li><a href="#/moremost" style="font-size:14px;  font-weight: lighter;">Getting the most of your Club Care app</a></li>
	<li><a href="#/morecccwww" style="font-size:14px;  font-weight: lighter;">C&CC Website</a></li>
	<li><a href="#/moreDVLA" style="font-size:14px;  font-weight: lighter;">DVLA Vehicle Check</a></li>
	<li><a href="#/moreMID" style="font-size:14px;  font-weight: lighter;">Ask MID</a></li>
	<li><a href="#/moreproddocs" style="font-size:14px;  font-weight: lighter;">Product Documentation</a></li>
	<li><a href="#/moreprivacy" style="font-size:14px;  font-weight: lighter;">Privacy</a></li>
	<li><a href="#/moreterms" style="font-size:14px;  font-weight: lighter;">Terms and Conditions</a></li>
<ul>

</div>
</div>
