<div class="homeContent4">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:8px;"><img src="img/defaqto.png" /></div>
<div style="clear: both;"></div>
<div class="pageBanner">More useful information</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<ul style=" line-height: 2.5em; height: auto;">
	<li><a href="#/" style="font-size:14px;  font-weight: lighter; ">Contact Details / Useful Numbers</a></li>
	<li><a href="#/" style="font-size:14px;  font-weight: lighter;">Social Links</a></li>
	<li><a href="http://www.clubcareinsurance.com/" style="font-size:14px;  font-weight: lighter;">Website</a></li>
	<li><a href="mailto:marketing@clubcareinsurance.com?subject=Customer feedback on the App" style="font-size:14px;  font-weight: lighter;">My feedback</a></li>
	<li><a href="#/" style="font-size:14px;  font-weight: lighter;">Getting the most of your Club care app</a></li>
	<li><a href="http://www.campingandcaravanningclub.co.uk/" style="font-size:14px;  font-weight: lighter;">Camping and Caravan Website</a></li>
	<li><a href="#" style="font-size:14px;  font-weight: lighter;">DVLA Vehicle Check</a></li>
	<li><a href="#/productscamping" style="font-size:14px;  font-weight: lighter;">Ask MID</a></li>
	<li><a href="#/productshortterm" style="font-size:14px;  font-weight: lighter;">Product Documentation</a></li>
	<li><a href="#/productshortterm" style="font-size:14px;  font-weight: lighter;">Privacy</a></li>
	<li><a href="#/productshortterm" style="font-size:14px;  font-weight: lighter;">Terms and Conditions</a></li>
<ul>

</div>
</div>
