<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:8px;"><img src="img/defaqto.png" /></div>
<div style="clear: both;"></div>
<div class="pageBanner">Recording My Unit Details</div>
<div style="clear: both;"></div>
<div class="pageBlock" >

<p>In order to get the most out of your app, we strongly recommend you complete all of the information you are able to in this section. In the event of a claim these will be sent through to our team and really speed up us helping you.</p>

<ul>
<li>Your personal details</li>
<li>Your policy details</li>
<li>Your caravan details</li>
<li>At least two photos of your unit</li>
</ul>

<center>
<a class="btn btn-success" style="wdith:100%; color:#fff;" href="#/register">Add/Edit My Caravan Details</b> </a><br>
<a class="btn btn-warning" href="#/reportclaim">Report CLAIM</a>
<a class="btn btn-warning" href="#/reporttheft">Report THEFT</a>




</div>

</div>