<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:20px;"><i class="fa fa-user fa-lg" style="font-size:38px; padding:1%;"></i><br><span style="font-size:22px;  font-weight: lighter;">My Policy</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Recording Your Policy Details</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<br>
<br>
<p>Use this section to record the details off both your caravan and insurance policy.
This means that in the event of a claim you will have all the information you need,
right when you need it, and therefore we can help you quickly and easily.
<br>In order to get the most out of your app, we strongly recommend you complete all of
the information and take at least two photos of your unit.</p>

<p>The claims section will give you full details of what to do
in the event  of an incident, or  use the buttons below to complete as many details as
possible, including taking or attaching
photographs,
these will then automatically be
sent through to our claims team who will then be able to advise you on the correct
claims procedures to follow.</p>


<center>
<b>My Caravan Policy</b> <a class="btn btn-success" href="#/register">Add/Edit</a><br>
<a class="btn btn-warning" href="#/">Report a CLAIM</a>&nbsp;&nbsp;
<a class="btn btn-warning" href="#/">Report a THEFT</a>




</div>

</div>