<div class="homeContent4">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:8px;"><img src="img/defaqto.png" /></div>
<div style="clear: both;"></div>
<div class="pageBanner">Featured Products</div>
<div style="clear: both;"></div>
<div class="pageBlock">
See what other great deals we have on these products below:
<br><br>
<ul style="list-style-type: none; line-height: 2.5em; height: auto;">
	<li><a href="#/productscar" style="font-size:16px;  font-weight: lighter; "><i class="fa fa-car" style="font-size:28px;  padding-right:4%;"></i>Car Insurance</a></li>
	<li><a href="#/productshome" style="font-size:16px;  font-weight: lighter;"><i class="fa fa-home" style="font-size:28px;  padding-right:4%;"></i>&nbsp;Home</a></li>
	<li><a href="#" style="font-size:16px;  font-weight: lighter;"><i class="fa fa-wheelchair" style="font-size:28px;  padding-right:4%;"></i>&nbsp;Mobility</a></li>
	<li><a href="#/productscamping" style="font-size:16px;  font-weight: lighter;"><i class="fa fa-tree" style="font-size:28px;  padding-right:4%;"></i>&nbsp;Camping</a></li>
	<li><a href="#/productshortterm" style="font-size:16px;  font-weight: lighter;"><i class="fa fa-calendar" style="font-size:28px;  padding-right:4%;"></i>&nbsp;Short Term Insurance</a></li>
<ul>

</div>
</div>