<script>
var store = Rhaboo.persistent('policy');

function savePolicyDetails(){
	var firstName = document.getElementById("firstName").value;
	var lastName = document.getElementById("lastName").value;
	var phone = document.getElementById("phone").value;
	var postcode = document.getElementById("postcode").value;
	var email = document.getElementById("email").value;

	store.write('firstName', firstName);
	store.write('lastName', lastName);
	store.write('phone', phone);
	store.write('postcode', postcode);
	store.write('email', email);

    window.location = '#/registerPT2';

}

if(store.firstName != undefined){
	document.getElementById("firstName").value = store.firstName
	document.getElementById("lastName").value = store.lastName
	document.getElementById("phone").value = store.phone
	document.getElementById("postcode").value = store.postcode
	document.getElementById("email").value = store.email
}
</script>




<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />

<div class="pageTitle" style="margin-top:10px;"><i class="fa fa-user fa-lg" style="font-size:38px; padding:1%;"></i><br><span style="font-size:22px; font-weight: lighter;">Register Policy</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Step 1: Your Details</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<form id="step1">
  <div>
    <label>
      <span>First Name:</span>
      <input id="firstName" type="text" tabindex="1"  autofocus size="20">
    </label>
  </div>
  <div>
    <label>
      <span>Last Name:</span>
      <input  id="lastName" type="text" tabindex="2" size="20">
    </label>
  </div>
  <div>
    <label>
      <span>Telephone:</span>
      <input  id="phone" type="tel" tabindex="3" size="15">
    </label>
  </div>
  <div>
    <label>
      <span>Postcode:</span>
      <input  id="postcode" type="text" tabindex="4" size="8">
    </label>
  </div>
  <div>
    <label>
      <span>Email:</span>
      <input  id="email" type="email" tabindex="5" size="30">
    </label>
  </div>


  <div style="text-align:right;">

    <button class="btn btn-success" onclick="savePolicyDetails()"  value="Save" id="Save" data-theme="a">Continue</button>

  </div>
</form>


</div>

</div>