<script>
var store = Rhaboo.persistent('policy');
function savePolicyDetails(){

	var unitType = document.getElementById("unitType").value;
	var insurer = document.getElementById("insurer").value;
	var policyNumber = document.getElementById("policyNumber").value;
	var renewalDate = document.getElementById("renewalDate").value;

	store.write('unitType', unitType);
	store.write('insurer', insurer);
	store.write('policyNumber', policyNumber);
	store.write('renewalDate', renewalDate);

	window.location = '#/registerPT3';

}

if(store.firstName != undefined){
	document.getElementById("unitType").value = store.unitType
	document.getElementById("insurer").value = store.insurer
	document.getElementById("policyNumber").value = store.policyNumber
	document.getElementById("renewalDate").value = store.renewalDate
}
</script>




<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:10px;"><i class="fa fa-user fa-lg" style="font-size:38px; padding:1%;"></i><br><span style="font-size:22px; font-weight: lighter;">Register Policy</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Step 2: Your Policy Details</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<form id="step2">
  <div>
      <label>
        <span>Unit Type:</span>
        <input  id="unitType" type="text" tabindex="6" size="15">
      </label>
    </div>
    <div>
      <label>
        <span>Insurer:</span>
        <select name="insurer" id="insurer">
  	  <option value="-1">Select</option>
  	  <option value="Ageas">Ageas</option>
  	  <option value="Amtrust">Amtrust</option>
  		</select>
      </label>
    </div>
    <div>
      <label>
        <span>Policy Number:</span>
        <input  id="policyNumber" type="text" tabindex="7" size="20">
      </label>
    </div>
    <div>
      <label>
        <span>Renewal Date:</span>
        <input  id="renewalDate" type="date" tabindex="8"  size="8">
      </label>
  </div>


  <div style="text-align:right;">

    <button class="btn btn-success" onclick="savePolicyDetails()" value="Save" id="Continue" data-theme="a">Continue</button>

  </div>
</form>


</div>

</div>