<script>
var store = Rhaboo.persistent('policy');
function savePolicyDetails(){

	var unitType = document.getElementById("unitType").value;
	var insurer = document.getElementById("insurer").value;
	var policyNumber = document.getElementById("policyNumber").value;
	var renewalDate = document.getElementById("renewalDate").value;

	store.write('unitType', unitType);
	store.write('insurer', insurer);
	store.write('policyNumber', policyNumber);
	store.write('renewalDate', renewalDate);

	window.location = '#/registerPT3';

}

if(store.firstName != undefined){

	if(store.insurer == 'Ageas'){
		document.getElementById("Ageas").selected = true;
	}

	if(store.insurer == 'Amtrust'){
		document.getElementById("Amtrust").selected = true;
	}


	document.getElementById("unitType").value = store.unitType
	document.getElementById("policyNumber").value = store.policyNumber
	document.getElementById("renewalDate").value = store.renewalDate
}
</script>




<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:40px;"><span style="font-size:22px; font-weight: 700;">Register Policy</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Step 2: Your Policy Details</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<form id="step2">

	<p>Unit Type
	 <input name="unitType" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Unit Type" id="unitType" />
	</p>

	<p>Current Insurer
	<select name="insurer" id="insurer" class="feedback-input">
		<option value="-1" disabled >Current Insurer</option>
		<option id="Ageas" value="Ageas">Ageas</option>
		<option id="Amtrust" value="Amtrust">Amtrust</option>
	</select>
	</p>

	<p>
	Policy Number
	 <input name="policyNumber" type="text" class="feedback-input" placeholder="Policy Number" id="policyNumber" />
	</p>

	<p>
	 Renewal Date<input name="renewalDate" type="date" class="feedback-input"  id="renewalDate" placeholder="Rewnewal Date" />
	</p>

    <button class="btn btn-success" style="width:100%;" onclick="savePolicyDetails()" value="Save" id="Continue" data-theme="a">CONTINUE</button>

  </div>
</form>


</div>
<div style="clear: both; min-height:150px;"></div>
</div>