<script>
var store = Rhaboo.persistent('policy');
var uname = store.Name;
var uemail = store.email;
var dataURL1 = store.photo1SRC;

$.ajax({
	type:"POST",
	url: "http://www.popbumper.co.uk/mailtest.php",
	//url: "http://clubcare.hyperlogic.uk/mailtest.php",
	contentType: "application/x-www-form-urlencoded",
	cache: false,
	data : ({
	//uuid:device.uuid,
	uname:uname,
	uemail:uemail,
	image1SRC:dataURL1
}),
success: function(){
	//alert(data);
	window.location = '#/policy';
},
error :function(){
	//alert("nope :( ");
},
complete : function(){
	//alert("Thank you for your registration you will receive the email with further information soon");
	//window.location=’index.html#waiting';
}
});
</script>