<canvas id="canvas" width="100px" height="100px" ></canvas>

<script>
var store = Rhaboo.persistent('policy');

//populate images
document.getElementById("image1").src = store.photo1;


var context = document.getElementById('canvas').getContext("2d");
var img = new Image();
img.onload = function () {
context.drawImage(img, 75, 55, 150, 110);
}
img.src = store.photo1;


var c = document.getElementById("canvas");




//Get data to send
var dataURL1 = c.toDataURL();
var uname = store.Name;
var uemail = store.email;

//alert(img.value);



$.ajax({
	type:"POST",
	url: "http://www.popbumper.co.uk/mailtest.php",
	data : ({
	//uuid:device.uuid,
	uname:uname,
	uemail:uemail,
	image1SRC:dataURL1
}),



success: function(){
 	alert("worked");
},
error :function(){
	alert("nope :( ");
},
complete : function(){
	alert("Thank you for your registration you will receive the email with further information soon");
	//window.location=’index.html#waiting';
}
});

</script>




<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:40px;"><span style="font-size:22px; font-weight: 700;">Register Policy</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Step 5: Send</div>
<div style="clear: both;"></div>
<div class="pageBlock">
<img id="image1" name="image1" src="" style="width:10%;">

<h1>Details saved and sent!</h1>


</div>

</div>