<script>
function finishclaim(){
	window.location = '#/Policy';
}

</script>

<div class="homeContent">
<img class="homelogo_test" src="img/ClubCare_logo_colour.png" />
<div class="pageTitle" style="margin-top:22px;"><img src="img/defaqto.png" width="68px"/></div>
	<div style="clear: both;"></div>
	<div class="pageBanner">Claim Notification</div>
	<div style="clear: both;"></div>
	<div class="pageBlock">
		<center>
		<img src="img/green-tick.png" width="100px">
		</center>
		<p style="font-size:12pt">Thank you for the notification, our team will contact you within one working day to assist with your claim.</p>
		<button class="btn btn-success" style="width:100%;" onclick="finishclaim()" >Main Menu</button>
	</div>

</div>