<script>
 function sendSms() {
        var number = document.getElementById('numberTxt').value;
        //var message = document.getElementById('messageTxt').value;
        //alert(number);
        //alert(message);
		var platform = "" + device.platform;

		alert(platform);

		switch(platform){
			case 'Android':
			var message = "Check out the Club Care Insurance app for all your policy needs: http://googleplaysiteblahblahapplinkhere";
			break;

			case 'iOS':
			var message = Check out the Club Care Insurance app for all your policy needs: http://applestoreblahblahapplinkhere"";
			break;
		}

        //CONFIGURATION
        var options = {
            replaceLineBreaks: false, // true to replace \n by a new line, false by default
            android: {
                intent: 'INTENT'  // send SMS with the native android SMS messaging
                //intent: '' // send SMS without open any other app

            }
        };

        var success = function () { alert('Message sent successfully'); };
        var error = function (e) { alert('Message Failed:' + e); };
        sms.send(number, message, options, success, error);
    }
</script>




<div class="homeContent">
<img class="homelogo_test" src="img/mainLogo.png" />

<div class="pageTitle" style="margin-top:10px;"><i class="fa fa-share-alt fa-lg" style="font-size:38px; padding:1%;"></i><br><span style="font-size:22px; font-weight: lighter;">Share</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Share the app</div>
<div style="clear: both;"></div>
<div class="pageBlock">

 <div class="content">
	    	<div class="content-padded">
		    	<input id="numberTxt" placeholder="Enter mobile number" value="" type="tel" />
				<textarea id="messageTxt" placeholder="Enter message"></textarea>
				<input type="button" onclick="sendSms()" value="Send SMS" />
			</div>
		</div>


</div>

</div>