<div class="homeContent3">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:30px;"><br><span style="font-size:22px;  font-weight: 700;">Hints & Tips</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Caravan Tips - Spring</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<div id="Spring" style="background:  transparent url('img/spring.jpg') no-repeat center center; min-height:62px; padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/spring" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">SPRING</a></div>
<div style="clear: both;"><br></div>
<p><b>Hints and tips to start the season</b></p>



<p>It cannot be stressed enough how important tyres are to towing safely and tyres, including the spare, should be checked thoroughly on all surfaces for cracks, bulges and other signs of damage and the pressures checked before starting the season and regularly throughout.</p>
<p>Tyre blow outs and tread delamination incidents often cause massive damage to the caravan body and also water and electrical services as these are often concentrated around the wheel box inside the caravan. In the worst cases blow outs can lead to loss of control of both the caravan and the tow vehicle with devastating results and yet these are often preventable incidents.</p>
<p>Remember that tyres are not designed to stand still for long periods and in conjunction with sunlight and atmospheric conditions caravan tyres often degrade long before the tread becomes worn.</p>
<ul>
<li>We would recommend that tyres are inspected for damage at the beginning of the season and before every trip also ensuring that that they are inflated to the correct pressure.</li>
<li>We recommend that tyres are renewed at least every seven years (some experts recommend 5 years) irrespective of apparent condition or tread depth.</li>
<li>During extended periods when the caravan is not in use remove the wheels and have the caravan on winter wheels. Not only will this help to protect your tyres but it will also deter thieves.</li>
</ul>
<p>For true peace of mind we would recommend that you have your caravan serviced once a year.</p>
<p>Caravan thieves operate all year but they are generally busiest in the summer months from May onwards and of course this is the most devastating and inconvenient time to lose your caravan to a thief.</p>
<p>Most of these thefts occur from the home or less secure storage sites but caravans have been known to be stolen from motorway services and even touring pitches.</p>
<p>Research your security options and choose devices accredited by testing houses such as Sold Secure http://www.soldsecure.com/ as this will help you decide the best product for you and you may benefit from an insurance discount too.</p>
<p>Invest in the best security devices you can afford to avoid the distress and heartache of having your caravan stolen.</p>



</div>
<div style="clear: both; min-height:150px;"></div>
</div>
