<div class="homeContent3">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:30px;"><br><span style="font-size:22px;  font-weight: 700;">Hints & Tips</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Caravan Tips - Summer</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<div id="Summer" style="background:  transparent url('img/summer.jpg') no-repeat center center; min-height:62px; padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/summer" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">SUMMER</a></div>
<div style="clear: both;"><br></div>
<p><b>Hints and tips for touring</b></p>



<p>We deal with an average of one detachment claim per week over the summer and in most cases the cause is user error, further exacerbated by incorrect fitment of the breakaway cable. We recommend that you refer to the manufacturer's instructions and make sure that you understand them, even if you are an experienced caravanner. It is a good idea to make a checklist and to follow it and most importantly, never rush, even if it is raining!</p>
<p><b>Hitch up checklist</b></p>
<p>Use this checklist when you next venture out with your caravan.</p>
<p>Here we list many of the things you'll need to do when you head off with your caravan.</p>
<p>When you leave home the first couple of points may already be covered, but you'll need to remember them when you leave a campsite.</p>
<ul>
<li>Turn off the gas at the cylinder</li>
<li>Empty the fresh and waste water containers and clean out any toilet cassette in an appropriate place</li>
<li>Check the caravan's windows and roof lights are closed, internal doors and cupboards are closed, loads are safely secured and the external door is locked</li>
<li>Check the caravan handbrake is on and chock the wheels if you are on a slope</li>
<li>Lower the jockey wheel and lock in place</li>
<li>Raise the corner steadies</li>
<li>Check the caravan's noseweight</li>
<li>Adjust the hitch height so it goes above the car's towball</li>
<li>Remove the towball cover on the car's towball</li>
<li>Reverse your car to the caravan</li>
<li>Secure the hitch on the towball</li>
<li>Check the link by using the jockey wheel to raise the car by about an inch to make sure it is properly coupled</li>
<li>Stow the jockey wheel</li>
<li>Connect the electrical plug(s) and the stabiliser system, if it's fitted, making sure the cables will not drag or pull as the car turns</li>
<li>Attach the breakaway cable or secondary coupling</li>
<li>Release the caravan handbrake and remove any chocks</li>
<li>Check the road lights and indicators are working</li>
<li>Pull clear of the pitch and check the area for anything left behind</li>
</ul>
<p>Caravan thieves operate all year but they are generally busiest in the summer months from May onward and of course this is the most devastating and inconvenient time to lose your caravan to a thief.</p>
<p>Most of these thefts occur from the home or less secure storage sites but caravans have been known to be stolen from motorway services and even touring pitches.</p>
<p>Research your security options and choose devices accredited by testing houses such as Sold Secure http://www.soldsecure.com/ as this will help you decide the best product for you and you may benefit from an insurance discount too.</p>
<p>Invest in the best security devices you can afford to avoid the distress and heartache of having your caravan stolen.</p>


</div>
<div style="clear: both; min-height:150px;"></div>
</div>
