<div class="homeContent3">
<img class="homelogo_test" src="img/mainLogo.png" />
<div class="pageTitle" style="margin-top:30px;"><br><span style="font-size:22px;  font-weight: 700;">Hints & Tips</span></div>
<div style="clear: both;"></div>
<div class="pageBanner">Caravan Tips - Winter</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<div id="Winter" style="background:  transparent url('img/winter.jpg') no-repeat center center; min-height:62px; padding:10px; padding-top:15px;"><a class="btn-sm btn-primary btn-sm" href="#/winter" style="float:left; color:#fff;" value="Save" id="Save" data-theme="a">WINTER</a></div>
<div style="clear: both;"><br></div>
<p><b>Hints and Tips for Safe Winter Storage</b></p>
<p>When considering a storage location away from your home, check:</p>
<ul>
<li>how secure the location actually is from theft and vandalism</li>
<li>for any potential exposure to damage from natural hazards i.e. - hailstones</li>
<li>whether the location is near a river or water - could it be  liable to flooding?</li>
<li>whether there could be a vermin problem</li>
<li>whether there are trees nearby that could cause damage (if not just from bird mess which can damage the finish of the caravan over time)</li>
</ul>

<p>Ask the site owner whether there have been problems in the past and what has been done to address these.</p>
<p>If the caravan is being stored at home you should:</p>
<ul>
<li>Make sure that your caravan is free from natural hazards i.e. falling branches</li>
<li>Consider a cover for your caravan to protect against falling debris, hailstones and even bird mess</li>
<li>Make sure your caravan is suitably anchored and cannot be easily moved by strong winds</li>
</ul>
<p>Consider the theft risk and protect your caravan accordingly as a large proportion of caravan thefts occur from the home address.</p>
<p>You should:</p>
<ul>
<li>Where possible keep the caravan out of sight from passing traffic</li>
<li>Remove all valuable or useful items and leave cupboard doors open as this aids air circulation and also shows a prospective thief there is nothing of interest to be taken, as very often the costliest part of a claim for theft is repairing the damage caused during the break in.</li>
<li>If possible, store the soft furnishings at home as these can be very attractive to thieves and as a bonus it will also help to extend their life.</li>
</ul>

<p>Research your security options and choose devices accredited by testing houses such as Sold Secure http://www.soldsecure.com/ as this will help you decide the best product for you and you may benefit from an insurance discount too.</p>
<ul>
<li>Invest in the best security devices you can afford to avoid the distress and heartache of having your caravan stolen.</li>
</ul>

<p>Remember that tyres are not designed to stand still for long periods and in conjunction with sunlight and atmospheric conditions caravan tyres often degrade long before the tread becomes worn.</p>
<ul>
<li>We would recommend that tyres are inspected for damage at the beginning of the season and before every trip also ensuring that that they are inflated to the correct pressure.</li>
<li>We recommend that tyres are renewed at least every seven years (some experts recommend five years) irrespective of apparent condition or tread depth.</li>
<li>During extended periods when the caravan is not in use, remove the wheels and have the caravan on winter wheels. Not only will this help to protect your tyres but it will also deter thieves.</li>
<li>A set of tyres is a small price to pay for towing safety.</li>
</ul>
<a class="btn-sm btn-primary btn-sm" href="#/hints" style="float:right; color:#fff;" value="Save" id="Save" data-theme="a">BACK</a>
</div>
<div style="clear: both; min-height:150px;"></div>
</div>
